# Server
PORT=3001
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/infographic-creator

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=90d

# Frontend URL
FRONTEND_URL=http://localhost:8080

# Logging
LOG_LEVEL=debug # error, warn, info, debug
