extends base

block content
  p Hi #{firstName},
  p We received a request to reset your password for your Infographic Creator account.
  p To reset your password, please click the button below:
  p(style='text-align: center;')
    a.button(href=url) Reset Password
  p If you didn't request this, please ignore this email and your password will remain unchanged.
  p This link is valid for 10 minutes.
  p If the button doesn't work, you can also copy and paste this link into your browser:
  p(style='word-break: break-all;') #{url}
