extends base

block content
  p Hi #{firstName},
  p Thank you for signing up for Infographic Creator! To complete your registration, please verify your email address by clicking the button below:
  p(style='text-align: center;')
    a.button(href=url) Verify Email
  p If you didn't create an account with us, please ignore this email.
  p This link is valid for 24 hours.
  p If the button doesn't work, you can also copy and paste this link into your browser:
  p(style='word-break: break-all;') #{url}
